<%= form_tag search_path, class: :search_form do %>
  <%= text_field_tag :word, @word %>
  <%= submit_tag 'エゴサする' %>
<% end %>

<% if @error %>
  <p><%= @error %></p>
<% else %>
  <div id='container' >
    <p>検索結果100件中、フォロワーのツイートは<%= @tweets.count %>件でした.
    <% @tweets.each do |tweet| %>
    <div class='tweet' >
      <img class='profile_image' src='<%= tweet.user.profile_image_url %>' alt='profile_image' />
      <div class='contents' >
        <span class='name'><%=tweet.user.name %></span><span class='screen_name'>@<%=tweet.user.screen_name %></span>
        <p><%=tweet.full_text %></p>
      </div>
      <a href='https://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %>'>Twitterで開く</a>
    </div>
    <% end %>

  <%= form_tag search_path, class: :more do %>
    <%= hidden_field_tag :word, @word %>
    <%= hidden_field_tag :max_id, @max_id %>
    <%= submit_tag 'さらにエゴサ' %>
  <% end %>
   </div>
<% end %>

