<%= form_tag search_path do %>
  <%= text_field_tag :word, @word %>
  <%= hidden_field_tag :max_id, @max_id %>
  <%= submit_tag 'エゴサする' %>
<% end %>

<% if @error %>
  <p><%= @error %></p>
<% else %>
  <p><%= @tweets.count %>件ヒットしました</p>
  <% @tweets.each do |tweet| %>
  <div class='tweet' >
    <img src='<%= tweet.user.profile_image_url %>' alt='profile_image' />
    <span><%=tweet.user.name %></span>
    <p><%=tweet.full_text %></p>
    <a href='https://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %>'>Twitterで開く</a>
  </div>
  <% end %>
<% end %>

