
<%= form_tag search_path, class: :search_form do %>
  <%= text_field_tag :word, @word %>
  <%= submit_tag 'エゴサする' %>
<% end %>

<% if @error %>
  <p><%= @error %></p>
<% else %>
  <div id='container' >
    <p class='result_count'>検索結果100件中、フォロワーのツイートは<%= @tweets.count %>件でした.
    <% @tweets.each do |tweet| %>
    <div class='tweet' >
      <img class='profile_image' src='<%= tweet.user.profile_image_url %>' alt='profile_image' />
      <div class='contents' >
        <span class='name'><%=tweet.user.name %></span><span class='screen_name'>@<%=tweet.user.screen_name %></span>
        <p><%=tweet.full_text %></p>
      </div>
      <div class='twitter_actions'>
        <a class='reply' href='https://twitter.com/intent/tweet?in_replay_to=<%= tweet.id %>&text=%40<%= tweet.user.screen_name %>%20'>返信</a>
        <a class='retweet' href='https://twitter.com/intent/retweet?tweet_id=<%= tweet.id %>'>リツイート</a>
        <a class='like' href='https://twitter.com/intent/like?tweet_id=<%= tweet.id %>'>いいね</a>
        <a class='open_official_app' href='twitter://status?id=<%= tweet.id %>'>公式アプリで開く</a>
      </div>
      <div class='clear_div' />
    </div>
    <% end %>

  <%= form_tag search_path, class: :more do %>
    <%= hidden_field_tag :word, @word %>
    <%= hidden_field_tag :max_id, @max_id %>
    <%= submit_tag 'さらにエゴサ' %>
  <% end %>
   </div>
<% end %>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
